<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Blog Site</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="icon" href="https://i.ya-webdesign.com/images/double-quote-png-11.png" type="image/icon">
</head>

<body>

    <div class="ui inverted segment" style="border-radius: 0;">
        <div class="ui inverted secondary menu">
            <div style="margin-left: 30px; margin-right: 10px;" class="header item"><i class="quote left icon"></i>
                <h3 style="margin-top: 0;">Blog Site</h3>
            </div>
            <a href="/blogs" class="item">Home</a>
            <a href="/blogs/new" class="item">New Blog</a>

            <% if(!currentUser){ %>
                <a style="margin-left: 900px;" href="/login" class="item">Login</a>
                <a style="float: right;" href="/register" class="item">Sign-Up</a>
                <% } else { %>
                    <a style="margin-left: 900px;" href="#" class="item">Signed in as <%= currentUser.username %></a>
                    <a style="float:right" href="/logout" class="item">Logout</a>
                    <% } %>
        </div>
    </div>

    <br><br><br><br>