<%include ./partials/header%>
    <div class="ui main text container segment form-content">
        <div class="ui huge header">New Blog</div>
        <%= typeof msg != 'undefined' ? msg : '' %>
        <form class="ui form" action="/blogs" method="POST" enctype="multipart/form-data">
            <div class="field">
                <label>Title</label>
                <input type="text" name="blog[title]" placeholder="title">
            </div>
            <div class="field">
                <label>Profile Image</label>
                <input type="file" name="image">
            </div>
            <div class="field">
                <label>Body</label>
                <textarea name="blog[body]" placeholder="body post goes here"></textarea>
            </div>
            <input class="ui violet big button" type="submit" value="Submit">
        </form>
    </div>
    <%include ./partials/footer%>