<%include ./partials/header%>
    <div style="margin-top: 45px;" class="ui main text container auth-form">
        <h1 style="text-align: center;" class="form-title">Sign-Up</h1>
        <form class="ui form" action="/register" method="POST">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter your username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter your password">
            </div>

            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
    <%include ./partials/footer%>