@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
    background: url("../images/bg-1.jpg") center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif !important;
}

.ui.text.container {
    font-family: 'Poppins', sans-serif !important;
}

i.icon {
    font-size: 2em;
}

#delete {
    display: inline;
}

#special {
    font-size: 1em;
}

.description>p {
    line-height: 1.5em;
}

.content>span {
    font-size: medium;
}

.ui.inverted.segment {
    position: fixed !important;
    width: 100vw;
    z-index: 1;
}

label {
    font-size: 1em !important;
}

#blog-segment {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
/*box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);*/

.ui.text.container {
    max-width: 770px !important;
}

.blogs-header {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    margin: -4px 0 6px 0 !important;
}

.ui[class*="top attached"].segment {
    box-shadow: 0 10px 25px rgba(0,0,0,0.5), 0 20px 48px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.5);
}

.ui.items > .item > .image:not(.ui) {
    width: 225px;
}

.ui.inverted.violet.button {
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px 2px #6435C9 inset !important;
    box-shadow: 0px 0px 0px 2px #6435C9 inset !important;
    color: #6435C9;
}

.ui.inverted.violet.button:hover {
    background-color: #6435C9;
}

.auth-form{
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5), 0 20px 48px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.5);
    background-color: #fff;
}

.form-title{
    margin-bottom: 48px;
}

.form-content {
    padding: 24px !important;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5), 0 20px 48px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.5) !important;
}

/*.ui.segment {*/
/*    padding: 24px;*/
/*}*/

@media only screen and (max-width: 1240px){
    .ui.text.container {
        max-width: 750px !important;
    }
}

@media only screen and (max-width: 1200px){
    #authLink{
        margin-left: 45% !important;
    }
    .ui.items > .item > .image:not(.ui) {
        width: 200px;
    }
}

@media only screen and (max-width: 1170px){
    .ui.text.container {
        max-width: 735px !important;
    }
    .ui.items > .item > .image:not(.ui) {
        width: 190px;
    }
}

@media only screen and (max-width: 1100px){
    .ui.text.container {
        max-width: 700px !important;
    }

}